body{
    margin: 0;
}
header{
    padding-bottom: 40px;
    
}
.navbar > ul{
    background-color:  #333;
    position: fixed;
    opacity: 0.8;
    width: 100%;
    display: flex;
    padding:10px 0 10px 350px;
    margin: 0;
    list-style: none;
}
.navbar a{
   text-decoration: none;
   color: white;
   padding:10px 40px 10px 40px;
   font-size: 1.5rem;
}
